<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ns.thpremium">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
<!--    <uses-permission android:name="android.permission.READ_SMS" />-->

    <application
        android:name="com.main.SuperApp"
        android:label="@string/APP_NAME"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:allowBackup="false"
        android:allowClearUserData="false"
        android:theme="@style/AppTheme"
        android:icon="@mipmap/app_launcher">

        <activity android:name="com.ns.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ns.activity.AppTabActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="uiMode"
            >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name="com.ns.activity.THPPersonaliseActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.activity.SignInAndUpActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
           />
        <activity android:name="com.ns.activity.THPUserProfileActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.activity.BecomeMemberActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.activity.THP_DetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.activity.THP_WebActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.activity.THPImageGallaryVerticleActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.activity.THPImageGallaryActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.activity.CustomizeHomeScreenActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.activity.BookmarkActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.activity.NotificationArticleActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.activity.AppSettingActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.tts.TTSSettingActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.tts.TTSLanguageSettingActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.activity.IciciPGActivity"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"/>
        <activity android:name="com.ns.activity.THP_YouTubeFullScreenActivity"
            android:configChanges="uiMode|keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.ns.activity.VideoPlayerActivity"
            android:configChanges="uiMode|keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name="com.ns.activity.NotificationClickActivity" />

        <!--Activities provided by Facebook-->
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/APP_NAME" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ns.activity.StocksDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <service android:name="com.netoperation.config.download.IconDownloadService"
            android:exported="false"
            />

        <!--<provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="com.superapp.workmanager-init"
            android:enabled="false"/>-->

        <service
            android:name="com.ns.service.FetchAddressIntentService"
            android:exported="false"/>


        <!--Meta data For facebook login-->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>


        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>




<!--        <receiver-->
<!--            android:name="com.ns.receiver.SmsBroadcastReceiver"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!-- Start CleverTap -->
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="@string/clevertap_test_account_id" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="@string/clevertap_test_account_token" />

        <!--
        IMPORTANT: To force use Google AD ID to uniquely identify  users,
        use the following meta tag. GDPR mandates that if you are using this tag,
        there is prominent disclousure to your end customer in their application.
        Read more about GDPR here - https://clevertap.com/blog/in-preparation-of-gdpr-compliance/
        -->
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="1" />
        <meta-data
            android:name="CLEVERTAP_SSL_PINNING"
            android:value="0" />
        <!-- Add meta data for CleverTap Notification Icon -->
        <meta-data
            android:name="CLEVERTAP_NOTIFICATION_ICON"
            android:value="icon_notification" />
        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1" />

        <!-- Add meta and set to 1 to raise Notification Viewed for Push Notifications -->
        <meta-data
            android:name="CLEVERTAP_RAISE_NOTIFICATION_VIEWED"
            android:value="1" />

        <!-- Add CleverTap Push Notification Services -->
        <service
            android:name="com.clevertap.android.sdk.FcmTokenListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.ns.clevertap.HinduCTPushListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.ns.clevertap.HinduCTPushNotificationReceiver"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name="com.clevertap.android.sdk.CTNotificationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.PUSH_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.clevertap.android.sdk.CTBackgroundIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.BG_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.clevertap.android.sdk.CTBackgroundJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--Sender ID will be taking from google-services.json dynamically-->
        <!--<meta-data
            android:name="FCM_SENDER_ID"
            android:value="id:853251516072" />-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!--To enable the CleverTap Region for India (in1)-->
       <!-- <meta-data
            android:name="CLEVERTAP_REGION"
            android:value="in1"/>-->

<!--        In-App Notification-->
        <meta-data
            android:name="CLEVERTAP_INAPP_EXCLUDE"
            android:value="AppLocationActivity,IciciPGActivity,SignInAndUpActivity,SplashActivity,THP_YouTubeFullScreenActivity,VideoPlayerActivity" />

        <!-- End CleverTap -->


    </application>

</manifest>